[submodule "ext-repo/xadrezbrasil"]
	path = ext-repo/xadrezbrasil
	url = ../xadrezbrasil.git
[submodule "ext-repo/sagas"]
	path = ext-repo/sagas
	url = ../sagas.git
[submodule "ext-repo/minhas-partidas"]
	path = ext-repo/minhas-partidas
	url = ../minhas-partidas.git
[submodule "src-repo/python-chess"]
	path = src-repo/python-chess
	url = git@github.com:serrasqueiro/python-chess.git
[submodule "info/pgn-specs"]
	path = info/pgn-specs
	url = git@gist.github.com:5b525a47e65c3e1e3916252df10ed32a.git
